@model List<Category>

<div class="list-group">


        <a href="/products" class="list-group-item list-group-item-action title">Tüm Kategoriler</a>             

        @foreach (var category in Model)
        {  
            
            if(ViewBag.SelectedCategory == category.Url){
                <a href="/products/@category.Url" asp-route-category="halil" class="list-group-item list-group-item-action title active">@category.Name</a>             
            }else{
                <a href="/products/@category.Url" asp-route-category="halil" class="list-group-item list-group-item-action title">@category.Name</a>             
            }         



        }


</div>

<script>

    let title = document.querySelectorAll(".list-group-item")

    let varMi = false;
    title.forEach(element => {

        if(element.classList.value.includes("active") == true){
            varMi = true
        }
    })

    if(!varMi){
        title[0].className = title[0].className + " active"
    }    

</script>
