    <header>
        
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop app</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor illo debitis corporis laudantium reprehenderit quos numquam! Asperiores accusamus dolore dolorum aut perspiciatis quos sapiente iste vel repellat similique, ea deleniti?</p>
            </div>
        </div>
    </header>